<extend name="common/base" />

<block name="title">
	字段管理
</block>

<block name="style">
</block>

<block name="content">
	<table class="table table-bordered table-striped table-hover">
		<colgroup>
			<col width="10%">
			<col width="10%">
			<col width="10%">
			<col width="10%">
			<col width="10%">
			<col width="10%">
			<col width="10%">
			<col width="10%">
			<col width="20%">
		</colgroup>
		<thead>
			<th>字段排序</th>
			<th>字段编号</th>
			<th>字段名称</th>
			<th>字段键名</th>
			<th>字段类型</th>
			<th>字段默认</th>
			<th>字段长度</th>
			<th>字段状态</th>
			<th>操作 <button class="btn btn-sm btn-primary" onclick="add()">添加字段</button></th>
		</thead>
		<tbody>
			<volist name="datas" id="data">
				<tr>
					<td><input type="text" class="form-control text-center" value="{$data.sort}" onchange="sort(this, {$data.id})"></td>
					<td>{$data.id}</td>
					<td>{$data.name}</td>
					<td>{$data.field}</td>
					<td>{$data.type_text}</td>
					<td>{$data.default}</td>
					<td>{$data.length}</td>
					<td>
						<if condition="$data.vital != 1">
							<switch name="$data.status">
								<case value="1">
									<button class="btn btn-sm btn-warning" onclick="status({$data.id}, -1, '确认禁用?')">禁用字段</button>
								</case>
								<case value="-1">
									<button class="btn btn-sm btn-success" onclick="status({$data.id}, 1, '确认启用?')">启用字段</button>
								</case>
							</switch>
						</if>
					</td>
					<td>
						<if condition="$data.vital != 1">
							<button class="btn btn-sm btn-primary" onclick="edit({$data.id})">修改字段</button>
							<button class="btn btn-sm btn-danger" onclick="deletes({$data.id}, '确认删除?')">删除字段</button>
						</if>
					</td>
				</tr>
			</volist>
		</tbody>
	</table>
	<div class="text-right">
		{$datas->render()}
	</div>
</block>

<block name="script">
	<script type="text/javascript">
		function add() {
			layui.use(["layer", "jquery"], function() {
				let layer = layui.layer
				let $ = layui.jquery
				let url = `{:cmf_plugin_url('Cms://admin_field/add')}`
				layer.open({
					type: 2,
					content: url,
					title: "添加字段",
					area: ["800px", "600px"],
					btn: ["提交", "取消"],
					shade: [0.8, "#000"],
					closeBtn: 1,
					maxmin: true,
					resize: false,
					scrollbar: false,
					shadeClose: true,
					id: "iframe",
					yes: function(index, layero) {
						let form = layer.getChildFrame("form", index)
						let params = {
							submit: "submit",
							params: {
								model_id: "{$model_id}",
								name: form.find("#name").val(),
								field: form.find("#field").val(),
								type: form.find("#type").val(),
								length: form.find("#length").val(),
								default: form.find("#default").val(),
							}
						}
						if (params.params.name == "") {
							layer.msg("字段名称为空", {
								time: 1000
							})
							return false
						}
						if (params.params.field == "") {
							layer.msg("字段键名为空", {
								time: 1000
							})
							return false
						}
						if (params.params.length == "") {
							layer.msg("字段长度为空", {
								time: 1000
							})
							return false
						}
						let indexLoad = layer.load(2)
						$.post(url, params, function(data) {
							if (data == true) {
								layer.close(indexLoad)
								layer.close(index)
								location.reload()
							}
						})
					}
				})
			})
		}

		function edit(id) {
			layui.use(["layer", "jquery"], function() {
				let layer = layui.layer
				let $ = layui.jquery
				let url = `{:cmf_plugin_url('Cms://admin_field/edit')}?id=${id}`
				layer.open({
					type: 2,
					content: url,
					title: "修改字段",
					area: ["800px", "600px"],
					btn: ["提交", "取消"],
					shade: [0.8, "#000"],
					closeBtn: 1,
					maxmin: true,
					resize: false,
					scrollbar: false,
					shadeClose: true,
					id: "iframe",
					yes: function(index, layero) {
						let form = layer.getChildFrame("form", index)
						let params = {
							submit: "submit",
							params: {
								model_id: "{$model_id}",
								name: form.find("#name").val(),
								field: form.find("#field").val(),
								type: form.find("#type").val(),
								length: form.find("#length").val(),
								default: form.find("#default").val(),
							}
						}
						if (params.params.name == "") {
							layer.msg("字段名称为空", {
								time: 1000
							})
							return false
						}
						if (params.params.field == "") {
							layer.msg("字段键名为空", {
								time: 1000
							})
							return false
						}
						if (params.params.length == "") {
							layer.msg("字段长度为空", {
								time: 1000
							})
							return false
						}
						let indexLoad = layer.load(2)
						$.post(url, params, function(data) {
							if (data == true) {
								layer.close(indexLoad)
								layer.close(index)
								location.reload()
							}
						})
					}
				})
			})
		}

		function deletes(id, msg) {
			layui.use(["jquery"], function() {
				let $ = layui.jquery
				if (confirm(msg)) {
					let url = `{:cmf_plugin_url('Cms://admin_field/delete')}?id=${id}`
					$.get(url, {}, function(data) {
						if (data == true) {
							location.reload()
						}
					})
				}
			})
		}

		function status(id, status, msg) {
			layui.use(["jquery"], function() {
				let $ = layui.jquery
				if (confirm(msg)) {
					let url = `{:cmf_plugin_url('Cms://admin_field/status')}?id=${id}&status=${status}`
					$.get(url, {}, function(data) {
						if (data == true) {
							location.reload()
						}
					})
				}
			})
		}

		function sort(o, id) {
			layui.use(["jquery"], function() {
				let $ = layui.jquery
				let url = `{:cmf_plugin_url('Cms://admin_field/sort')}?id=${id}&sort=${o.value}`
				$.get(url, {}, function(data) {
					if (data == true) {
						location.reload()
					}
				})
			})
		}

		layui.use(["jquery"], function() {
			let $ = layui.jquery
			$(".nav li").removeClass("active")
			$(".nav li").eq(0).addClass("active")
		})
	</script>
</block>
