<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>
			<block name="title"></block>
		</title>
		<!-- 外部引入 -->
		<link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://www.layuicdn.com/layui/layui.js"></script>
		<!-- 本地引入 -->
		<link rel="stylesheet" type="text/css" href="__PLUGIN_TMPL__/common/assets/css/common.css" />
		<!-- 样式 -->
		<block name="style"></block>
	</head>
	<body>
		<div class="content">
			<!-- 内容 -->
			<block name="content"></block>
		</div>
	</body>
	<!-- 脚本 -->
	<block name="script"></block>
</html>
